$fontPath: '/vendor/impallari/Libre-Bodoni';

@font-face {
	font-family: 'LibreBodoni';
	src:
		local('Libre Bodoni'),
		local('LibreBodoni-Regular'),
		url('#{$fontPath}/fonts/LibreBodoni-Regular.otf') format('opentype'),
		url('#{$fontPath}/fonts/LibreBodoni-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'LibreBodoni';
	src:
		local('Libre Bodoni Italic'),
		local('LibreBodoni-Italic'),
		url('#{$fontPath}/fonts/LibreBodoni-Italic.otf') format('opentype'),
		url('#{$fontPath}/fonts/LibreBodoni-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'LibreBodoni';
	src:
		local('Libre Bodoni Bold'),
		local('LibreBodoni-Bold'),
		url('#{$fontPath}/fonts/LibreBodoni-Bold.otf') format('opentype'),
		url('#{$fontPath}/fonts/LibreBodoni-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'LibreBodoni';
	src:
		local('Libre Bodoni Bold Italic'),
		local('LibreBodoni-BoldItalic'),
		url('#{$fontPath}/fonts/LibreBodoni-BoldItalic.otf') format('opentype'),
		url('#{$fontPath}/fonts/LibreBodoni-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}
