// Breakpoints
@mixin bp($px) {
	@if $px == sm {
		@media (min-width: 760px) { @content; }
	}
	@else if $px == md {
		@media (min-width: 960px) { @content; }
	}
	@else if $px == lg {
		@media (min-width: 1140px)  { @content; }
	}
	@else if $px == wd {
		// In the JavaScript config.js file, we use 1440px for wide, so the value is not
		// The same - just to keep in mind
		@media (min-width: 1300px)  { @content; }
	}
	@else if $px == uw {
		@media (min-width: 1900px)  { @content; }
	}
}
