// Colors
$black: #000;
$blue: #4189dd;
$green: #01a611;
$grey: #828282;
$lightgrey: #efefef;
$red: #ff0000;
$white: #fff;

// Layout
$background-color: $white;
$border-radius: 2px;
$content-container-width: 350px;
$content-margin: 20px;
$shadow-dimensions: 0 0 2px;
$shadow-color: rgba($black, 0.5);
$spoiler-shadow-dimensions: 0 0 8px;
$spoiler-shadow-color: $shadow-color;
$search-suggestions-shadow-dimensions: 0 2px 2px -2px;
$search-suggestions-shadow-color: $shadow-color;
$form-border-color: $lightgrey;
$form-border-color-hover: rgba($grey, 0.2);
$form-background-color: $lightgrey;
$form-background-color-hover: rgba($grey, 0.2);
$primary-button-border-color: $blue;
$primary-button-background-color: $blue;
$primary-button-border-color-hover: $lightgrey;
$primary-button-background-color-hover: $lightgrey;
$secondary-button-border-color: $lightgrey;
$secondary-button-background-color: $lightgrey;
$secondary-button-border-color-hover: $blue;
$secondary-button-background-color-hover: $blue;

// Typography
$text-color: $black;
$text-size: 16px;
$line-height: 1.2;
$link-color: $green;
$link-color-hover: $black;
$primary-menu-link-color: $green;
$primary-menu-link-color-hover: $black;
$secondary-menu-link-color: $green;
$secondary-menu-link-color-hover: $black;
$suggestions-link-background-hover: $lightgrey;
$primary-button-color: $white;
$primary-button-color-hover: $black;
$secondary-button-color: $black;
$secondary-button-color-hover: $white;
