#content {
	position: absolute;
	right: $content-margin;
	bottom: $content-margin;
	display: none;
	width: $content-container-width;
	max-width: calc(100% - 2 * #{$content-margin});
	height: auto;
	padding: $content-margin;
	background-color: $background-color;
	overflow-y: auto;
	z-index: 1200;

	@include bp(sm) {
		position: relative;
		right: auto;
		bottom: auto;
	}
}

#content.show {
	box-shadow: $shadow-dimensions $shadow-color;
	flex-shrink: 0;
}

.close {
	position: absolute;
	top: 10px;
	right: 10px;
	line-height: 0;
	cursor: pointer;
	z-index: 1300;

	@include bp(sm) {
		display: none;
	}
}

// OverlayScrollbars fix
#content [data-overlayscrollbars-padding], [data-overlayscrollbars-viewport]:not([data-overlayscrollbars]) {
	height: calc(100% + 2 * #{$content-margin});
}

.messages {
	display: flex;
	margin-bottom: calc(#{$content-margin} / 2);
}

.messages.empty {
	margin-bottom: 0;
}

.messages .icon {
	margin-top: 1px;
}

.container {
	position: relative;
	display: flex;
}

.container #media, .container #location {
	position: absolute;
	width: 100%;
	transition: left .3s;
}

.container #media.show {
	left: 0;
	overflow: auto;
}

.container #media {
	left: calc(-100% - #{$content-margin});
	overflow: hidden;
}

.container #location.show {
	left: 0;
	overflow: inherit;
}

.container #location {
	left: calc(100% + 2 * #{$content-margin});
	width: 0;
	margin-bottom: $content-margin;
	background-color: #fff;
	overflow: hidden;
}

#image {
	position: relative;
	display: grid;
	margin: -#{$content-margin} -#{$content-margin} $content-margin -#{$content-margin};
}

#image #image-credit {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	background-color: rgba($black,0.6);
	padding: 2px 6px;
}

.native {
	margin-bottom: calc(#{$content-margin} / 2);
}

.native.empty {
	margin-bottom: 0;
}

#poster {
	width: 80px;
	margin-left: $content-margin;
	margin-bottom: $content-margin;
	float: right;
}

.native {
	display: flex;
}

.native .icon {
	margin-top: 1px;
}

#location-list ul {
	padding-left: 0;
	list-style: none;
}

#location-list ul li {
	display: flex;
}

#location-list ul li .icon {
	margin-top: 2px;
}

#metadata {
	margin-bottom: #{$content-margin};
}

#metadata #media-title, #metadata #season-episode, #metadata #source, #location-data {
	display: flex;
}

#metadata .icon {
	margin-top: -2px;
}

#links {
	max-height: 18px;
	margin-bottom: $content-margin;
	overflow: hidden;
}

#links.empty {
	margin-bottom: 0;
}

#links a {
	display: inline-grid;
	margin-right: 5px;
}

#links a:last-of-type {
	margin-right: 0;
}

.content {
	margin-bottom: $content-margin;
}

#tv-shows .loader, #movies .loader {
	margin-left: -40px;
}

#address {
	display: flex;
	margin-bottom: calc(#{$content-margin} / 2);
	clear: right;
}

#address.empty {
	margin-bottom: 0;
}

#back {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

#about {
	position: absolute;
	right: 0;
	bottom: 0;
	display: none;
	width: $content-container-width;
	max-width: calc(100% - 2 * #{$content-margin});
	border-radius: 0;
	padding: $content-margin;
	background-color: $background-color;
	overflow-y: auto;
	z-index: 1300;
}

#about.show {
	box-shadow: $shadow-dimensions $shadow-color;
}

.leaflet-control-attribution {
	border-top-left-radius: $border-radius;
}

.icon.left {
	margin-right: 5px;
}

.icon.right {
	margin-left: 5px;
}

#links .icon {
	margin-right: 0;
}

#native-name .icon, #metadata .icon, #location-data .icon {
	opacity: 0.8;
}

.spoiler {
	transition: all 100ms linear;
}

.spoiler button {
	margin-left: 5px;
	margin-bottom: 0;
	padding: 1px 5px;
	display: inline-block;
}

#submit-location .error {
	width: 100%;
	margin-top: -10px;
	margin-bottom: 10px;
}

#submit-location #email-container .error {
	margin-top: 0;
}

#submit-location #native-name {
	display: inherit;
	margin-top: inherit;
	margin-bottom: 10px;
	padding-right: inherit;
}

#submit-location #latlon-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#submit-location #lat {
	width: 49%;
}

#submit-location #lon {
	width: 49%;
}

#submit-location #email {
	margin-bottom: 0;
}

#submit-location .button {
	margin-bottom: 0;
}

.scroll #submit-location .button {
	margin-bottom: 20px;
}

#submit-location .heart {
	padding-top: 1px;
}


#aside-pre > p {
	margin-top: 0;
}

#aside-content > p:first-of-type {
	margin-top: 0;
}

#aside-content #media-links {
	margin: 0;
	padding-left: 0;
	list-style: none;
	display: flex;
}

#aside-content #media-links li {
	margin-right: 10px;
}

#aside-content #media-links li:last-of-type {
	margin-right: 0;
}

#aside-content .expand {
	margin-right: 5px;
}

#aside-content .wikipedia {
	margin-right: 3px;
}

.javascript-licenses #page-content {
	display: block;
}

.javascript-licenses h1 {
	margin-top: $content-margin;
}

#jslicense-labels1 {
	margin: auto;
	text-align: left;
}

.javascript-licenses #back {
	display: inline-flex;
	margin-top: $content-margin;
}
