#legal ul {
	align-items: center;
	margin: 0;
	padding-left: 0;
	list-style: none;

	@include bp(sm) {
		display: flex;
	}
}

#legal ul li {
	display: flex;
	margin-right: 3px;

	@include bp(sm) {
		display: inherit;
	}
}

#legal ul li:last-of-type {
	margin-right: 0;
}

#legal ul li::after {
	@include bp(sm) {
		content: '|';
		margin-left: 3px;
	}
}

#legal ul li:last-of-type::after {
	@include bp(sm) {
		content: '';
		margin-left: 0;
	}
}

#legal ul li a {
	display: inherit;
	align-items: center;
}
