#logo {
	display: inline-block;
	max-width: 85%;
}

#logo a {
	display: flex;
	align-items: center;
	color: $black !important;
}

#logo svg {
	width: 25px;
	height: auto;
	margin-top: 4px;
	margin-right: 10px;

	@include bp(sm) {
		margin-top: 0;
	}
}

#logo a:hover svg {
	opacity: 0.8;
}

#logo span {
	display: none;

	@include bp(sm) {
		display: block;
	}
}

#search {
	display: flex;
	padding: 2px 15px 2px 10px;
	border: solid 1px $form-border-color;
	border-radius: $border-radius;
	background-color: $form-background-color;
}

#search .md-search {
	color: #828282;
	font-size: 30px;
	margin-top: 5px;
}

#search-box {
	height: 40px;
	margin-bottom: 0;
	padding-right: 0;
	border: none;
	background-color: transparent;
	background-position: center left;
	background-repeat: no-repeat;
	background-size: 20px;

	@include bp(md) {
		min-width: 370px;
	}

	@include bp(uw) {
		min-width: 600px;
	}
}

#search-suggestions {
	position: absolute;
	top: 46px;
	left: 0;
	width: 100%;
	background-color: $background-color;
	box-shadow: $search-suggestions-shadow-dimensions $search-suggestions-shadow-color;
	padding: 3px 10px 10px 10px;
	display: none;
}

#newest {
	display: none;
	margin: 7px 0 -7px 0;
}

#newest-entries {
	list-style: none;
	padding-left: 0;
}

#newest .more {
	text-align: center;
}

#newest .more .button {
	@include bp(sm) {
		margin-bottom: 0;
	}
}

#newest .more .button:last-of-type {
	margin-bottom: 0;
}

#suggestions {
	margin: 7px 0 0 0;
	padding-left: 0;
	list-style: none;
}

#newest-entries .icon, #suggestions .icon {
	top: 2px;
}

#suggestions .messages {
	display: block;
	margin-bottom: 0;
	text-align: center;
}

#suggestions .messages .icon {
	top: 3px;
}

#suggestions .messages a {
	position: relative;
}

#suggestions li {
	margin-left: -10px;
	margin-right: -10px;
}

#suggestions li a {
	position: relative;
	display: block;
	padding: 3px 10px;
	font-size: 1.1em;
}

#suggestions li:last-of-type a {
	margin-bottom: -10px;
}

#suggestions li:last-of-type a {
	padding-bottom: 10px;
}

#navigation {
	position: absolute;
	top: calc(#{$content-margin} / 2);
	right: #{$content-margin};
	cursor: pointer;

	@include bp(md) {
		position: relative;
		top: auto;
		right: auto;
	}
}

#navigation ul {
	margin: 0;
	padding-left: 0;
 	list-style: none;
	display: flex;
	align-items: center;
}

#navigation ul li {
	margin-right: 5px;

	@include bp(sm) {
		margin-right: 20px;
	}
}

#navigation ul li:last-of-type {
	margin-right: 0;
	height: 36px;
}

#navigation ul li a {
	display: flex;
	align-items: center;
	border: solid 1px $primary-menu-link-color;
	border-radius: $border-radius;
	padding: 5px 8px;
	text-align: center;
	color: $primary-menu-link-color;
}

#navigation ul li a:hover {
	border-color: $black;
	color: $primary-menu-link-color-hover;
}

#navigation ul li a .icon {
	margin-right: 2px;
}
