* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.javascript-licenses {
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

main, #map {
	width: 100%;
	height: 100%;
}

main {
	display: flex;
}

.javascript-licenses main {
	padding: 0 $content-margin;
}

.responsible-table {
	overflow-x: auto;
}

table thead td {
	border-bottom: solid 1px rgba($grey, 0.2);
	font-weight: bold;
}

input, textarea, button, .button {
	max-width: 100%;
	margin-bottom: 10px;
	padding: 5px 8px;
	border: solid 1px;
	border-radius: $border-radius;
}

input, textarea {
	border-color: $form-border-color;
	background-color: $form-background-color;
}

input:hover, input:active, textarea:hover, textarea:active, button:hover, button:active, .button:hover, .button:active {
	background-color: $form-background-color-hover;
	border-color: $form-border-color-hover;
}

button, .button {
	display: inline-flex;
	cursor: pointer;
}

.primary {
	border-color: $primary-button-border-color;
	background-color: $primary-button-background-color;
}

.primary:hover {
	border-color: $primary-button-border-color-hover;
	background-color: $primary-button-background-color-hover;
}

.secondary {
	border-color: $secondary-button-border-color;
	background-color: $secondary-button-background-color;
}

.secondary:hover {
	border-color: $secondary-button-border-color-hover;
	background-color: $secondary-button-background-color-hover;
}

input, textarea {
	width: 100%;
}

form .trap {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 0;
	z-index: -1;
}

#page-header {
	position: fixed;
	width: 100%;
	padding: calc(#{$content-margin} / 2) $content-margin;
	background-color: $background-color;
	z-index: 1400;
}

#page-header {
	box-shadow: $shadow-dimensions $shadow-color;

	@include bp(md) {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
	}

	@include bp(lg) {
		flex-wrap: nowrap;
	}
}

#search-container {
	margin-top: 20px;
	position: relative;
	width: 100%;
	order: 2;

	@include bp(lg) {
		width: auto;
		margin-top: 0;
		order: 0;
	}
}

.clear {
	clear: both;
}

#pagination {
	display: flex;
	align-items: center;
}

#pagination span {
	margin-right: 10px;
}

#pagination a {
	margin: 0 2px;
	padding: 0 6px 3px 6px;
}

#pagination a:first-of-type {
	margin-left: 0;
}

#pagination a:last-of-type {
	margin-right: 0;
}

#page-footer {
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 0;
	padding: 1px 5px 2px 5px;
	border-top-right-radius: $border-radius;
	background: rgba($background-color, 0.7);
	z-index: 800;

	@include bp(sm) {
		left: $content-container-width;
	}
}

.leaflet-top.leaflet-left .leaflet-control-zoom {
	left: calc(#{$content-margin} - 12px);
}

.leaflet-bottom.leaflet-right .leaflet-control-zoom {
	right: calc(#{$content-margin} - 12px);
	bottom: calc(#{$content-margin} - 12px);
}

.loader {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2px 0;
	text-align: center;
}

.loader.cover {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	background-color: $background-color;
}

.browserupgrade {
	margin: auto;
	background-color: #eee;
	padding: $content-margin;
	text-align: center;
}

.show {
	display: block !important;
}

#overlay {
	display: none;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.7;
	z-index: 1200;
}

#overlay.show {
	width: 100%;
	height: 100%;
	position: fixed;
}

.tooltip {
	display: none;
	max-width: 330px;
	border-radius: 2px;
	background-color: $green;
	padding: 10px 16px;
}

.tooltip.right {
	left: 100%;
}

.tooltip.right::after { 
	content: ''; 
	position: absolute; 
	top: 50%;
	right: 100%; 
	margin-top: -5px; 
	border-width: 5px; 
	border-style: solid; 
	border-color: transparent $green transparent transparent; 
}

.tooltip.left::after { 
	content: ''; 
	position: absolute; 
	top: 50%;
	left: 100%; 
	margin-top: -5px; 
	border-width: 5px; 
	border-style: solid; 
	border-color: transparent $green transparent transparent; 
}

.tooltip .md-close {
	position: absolute;
	top: 2px;
	right: 2px;
	cursor: pointer;
}

#media .tooltip {
	position: relative;
	top: 0;
	left: 0;
	margin-bottom: calc(#{$content-margin} / 2);

	@include bp(sm) {
		position: fixed;
		top: 163px;
		left: 360px;
		margin-bottom: 0;
	}
}

#media .tooltip::after {
	display: none;

	@include bp(sm) {
		display: block;
	}
}

#show-random-location {
	position: absolute;
	right: $content-margin;
}
