@import 'fonts/Libre-Bodoni.scss';

body {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: $text-size;
	color: $text-color;
}

h1, h2 {
	font-family: 'LibreBodoni', serif;
	font-weight: normal;
	font-style: normal;
}

h1 {
	margin-top: 0;
	margin-bottom: calc(#{$content-margin} / 2);
}

h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 1em;
}

p {
	line-height: $line-height;
}

input, textarea, button {
	font-family: 'Lato';
	font-size: $text-size;
}

.primary {
	color: $primary-button-color;
}

.primary:hover {
	color: $primary-button-color-hover;
}

.secondary {
	color: $secondary-button-color;
}

.secondary:hover {
	color: $secondary-button-color-hover;
}

#page-header a {
	cursor: pointer;
	color: $primary-menu-link-color;
	text-decoration: none;
}

#page-header a:hover {
	color: $primary-menu-link-color-hover;
}

#suggestions li a:hover {
	background-color: $suggestions-link-background-hover;
}

#navigation ul li .active {
	color: $text-color;
	border-color: $text-color;
}

main a {
	cursor: pointer;
	color: $link-color;
	text-decoration: none;
}

main a:hover {
	color: $link-color-hover;
}

#content #metadata, #content #location-data {
	font-size: 0.8em;
}

#page-content > p:last-child {
	margin-bottom: 0;
}

.scroll #page-content > p:last-child {
	margin-bottom: 20px;
}

#site-info {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: $text-size;
	color: $text-color;
}

#footer-menu {
	font-size: 11px;
}

#footer-menu li a {
	color: $secondary-menu-link-color;
}

#footer-menu li a:hover {
	color: $secondary-menu-link-color-hover;
}


form > p:last-child {
	margin-bottom: 0;
}

.scroll form > p:last-child {
	margin-bottom: 20px;
}

.error {
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	color: $red;
}

#image #image-credit, #image #image-credit a {
	font-size: 0.8em;
	color: $white;
}

#image #image-credit a {
	font-size: 1em;
}

#image #image-credit .md-copyright {
	transform: scale(-1, 1);
	font-size: 15px;
}

#address .icon, #metadata .icon {
	font-size: 16px;
}

.spoiler {
	color: transparent;
	text-shadow: $spoiler-shadow-dimensions $spoiler-shadow-color;
}

.spoiler.show-spoiler {
	color: $text-color;
	text-shadow: none;
}

#address, #pagination {
	font-size: 0.8em;
}

#footer-menu {
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
#footer-menu li .active {
	color: $secondary-menu-link-color-hover;
}

#footer-menu li .active:hover {
	color: rgba($secondary-menu-link-color-hover, 0.8);
}

.leaflet-control-attribution a {
	color: $secondary-menu-link-color !important;
}

.leaflet-control-attribution a:hover {
	text-decoration: none;
	color: $secondary-menu-link-color-hover !important;
}

#native-name, #metadata, #location-data, #location-data {
	line-height: 1;
}

#about-title {
	margin-top: 0;
}
